*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    width: 100%;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1rem;
    height: 3rem;
    width: 100%;
    
}
.nav-bar__logo{
    text-decoration: none;
    color: #335576;
    margin-left: 1rem;
}

.nav-bar__list {
    display: flex;
}

.nav-bar__item {
    list-style: none;
    margin-right: 1.25rem;
    padding: .5rem;
}

.nav-bar__link {
    text-decoration: none;
    color: black;
}

.card {
    border: 1px black 20%;
    border-radius: 5px;
    width: 10rem;
    height: 15rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 1rem;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: #FEFAF5;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

}

.footer__title {
    color: #335576;
}

.footer__subtitle {
    color: #db7a4e;
}

.footer__contact-info {
    display: flex;
    flex-direction: column;
}

.footer__hours {
    display: flex;
}

.footer__day {
    margin-right: 2rem;
}

.footer__icon {
    padding-right: 1rem;
    margin-top: 1rem;
    height: 2rem;
}

.destination-title {
    color: white;
    font-size: 4rem;
    margin: 2rem;
}
.itinerary {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3rem 5rem;
}
.itinerary-card {
    background-color: white;
    border: 1px black 20%;
    border-radius: 5px;
    height: 22rem;
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.itinerary-card__title {
    border-bottom: .15rem black solid;
    width: 9rem;
    text-align: center;
}
.itinerary-card__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}
.itinerary-card__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEFAF5;
    width: 14rem;
    height: 3rem;
    margin: .5rem;
}
