.nav-bar__item--hawaii {
    border-bottom: .25rem #db7a4e solid;
}

.destination-hawaii {
    background-image: url(/assets/Images/hawaii.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 1rem;
}